/* SIDEBAR LARGURA NORMAL */
.wrapper .sidebar {
  width: 14rem;
  flex-shrink: 0;
  transition: width 0.2s ease;

} /* ========== DESKTOP (MD+) ========== */

.sidebar{
  // border: 2px solid red;
  height: 100%;
}

@media (min-width: 768px) {
  .wrapper.sidebar-toggled .sidebar,
  .wrapper .sidebar.toggled {
    width: 6rem;
    overflow: visible;
  } /* Esconde texto quando recolhida */
  .wrapper.sidebar-toggled .sidebar .nav-link span,
  .wrapper .sidebar.toggled .nav-link span {
    display: none;
  } /* Esconde títulos */
  .wrapper.sidebar-toggled .sidebar .sidebar-heading,
  .wrapper .sidebar.toggled .sidebar-heading {
    display: none;
  }
} /* ========== MOBILE ========== */

@media (max-width: 767.98px) {
  .wrapper.sidebar-toggled .sidebar,
  .wrapper .sidebar.toggled {
    width: 0;
    overflow: hidden;
  }
}
