<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
  [class.toggled]="sidebarToggled"
>
  <!-- Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
    <div class="sidebar-brand-text mx-3">Meu APP</div>
  </a>
  <hr class="sidebar-divider my-0" />
  <!-- Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
    </a>
  </li>
  <hr class="sidebar-divider" />
  <div class="sidebar-heading">Interface</div>
  <!-- Menu exemplo -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo">
      <i class="fas fa-fw fa-cog"></i> <span>Componentes</span>
    </a>
    <div id="collapseTwo" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Elementos:</h6>
        <a class="collapse-item" href="#">Botões</a> <a class="collapse-item" href="#">Cards</a>
      </div>
    </div>
  </li>
  <!-- Utilities -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i> <span>Utilidades</span>
    </a>
    <div id="collapseUtilities" class="collapse" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Personalização:</h6>
        <a class="collapse-item" href="#">Cores</a> <a class="collapse-item" href="#">Bordas</a>
        <a class="collapse-item" href="#">Animações</a> <a class="collapse-item" href="#">Outros</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> <i class="fas fa-fw fa-chart-area"></i> <span>Gráficos</span> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> <i class="fas fa-fw fa-table"></i> <span>Tabelas</span> </a>
  </li>
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Toggle da sidebar -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
  </div>
</ul>
