<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form p-4">
  <h2 class="mb-4">{{ title_form }}</h2>

  <!-- campos dinâmicos -->
  <div class="form-group mb-4" *ngFor="let field of fields">
    <label class="fw-semibold">{{ field.label }}</label>
    <input
      [type]="field.type"
      [formControlName]="field.name"
      class="form-control"
      [placeholder]="field.placeholder"
      [mask]="field.name ==='login'? '000.000.000-00': null"
    />

    <!-- mensagem de erro dinâmica -->
    <small
      class="text-danger"
      *ngIf="loginForm.get(field.name)?.touched && loginForm.get(field.name)?.invalid"
    >
      {{ getErrorMessage(field.name) }}
    </small>
  </div>

  <!-- botões -->
  <div class="mt-4 d-flex gap-3">
    <button
      *ngFor="let b of buttons"
      [type]="b.type"
      class="btn"
      [ngClass]="b.style"
      [routerLink]="b.link ? b.link : null"
    >
      {{ b.label }}
    </button>
  </div>
</form>
